<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:if="${usuarios != null && !usuarios.empty}">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Alias</th>
                    <th>Email</th>
                    <th>Clave</th>
                    <th>Fecha Alta</th>
                    <th>Fecha Baja</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.alias}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.clave}"></td>
                    <td th:text="${usuario.fechaAlta}"></td>
                    <td th:text="${usuario.fechaBaja}"></td>
                    <td><a th:href="@{/usuario/editar/}+${usuario.id}" th:text="Editar"></a></td>
                    <td><a th:href="@{/usuario/eliminar(id=${usuario.id})}" th:text="Eliminar"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${usuarios == null or usuarios.empty}">
            La lista esta vacia.
        </div>
    </body>
</html>
